{% extends 'base.html.twig' %}

{% block title %}BERA Watch : un site pour suivre la publication des BERA (Bulletin d'estimation du risque d'avalanche){% endblock %}

{% block body %}

    <div>
        <h1>BERA Watcher</h1>
        <p>
            Un simple site pour accéder à l'historique des BERA (Bulletin d'estimation du risque d'avalanche).
        </p>

        <div style="max-width: 400px">
            {{ form(form) }}
        </div>

        <div>
            Vous pouvez <a href="{{ path('app_subscribe') }}">vous abonner</a> à la publication d'un rapport.
        </div>
    </div>

    <hr>
    <div>
        Ceci est possible grâce à <a href="https://github.com/qloridant/meteofrance_bra_hist">https://github.com/qloridant/meteofrance_bra_hist</a>
        qui récupère les données à jour.
    </div>

    <hr>

    <div>
        Derniers BERAs disponibles ({{ beras|length }}/{{ totalBerasCount }}):
        <ul class="list-group">
            {% for bera in beras %}
                <li class="list-group-item">
                    <a href="{{ bera.link }}" target="_blank">{{ bera }}</a>
                </li>
            {% else %}
                Pas de BERA.
            {% endfor %}
        </ul>
    </div>
{% endblock %}
