<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}BERA Watcher{% endblock %}</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/yeti/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('site.webmanifest') }}">
    <style>
        .columns {
            columns: 4;
        }

        @media screen and (max-width: 1440px) {
            .columns {
                columns: 3;
            }
        }

        @media screen and (max-width: 992px) {
            .columns {
                columns: 2;
            }
        }

        @media screen and (max-width: 767px) {
            .columns {
                columns: 1;
            }
        }
    </style>
</head>
<body class="container">
<div>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
</div>

{% block body %}{% endblock %}
</body>
</html>
