{% extends 'base.html.twig' %}

{% block title %}BERA Watch : un site pour suivre la publication des BERA (Bulletin d'estimation du risque d'avalanche){% endblock %}

{% block body %}

    <div>
        <h1>BERA Watcher</h1>
        <p>
            Un portail pour accéder facilement aux Bulletins d'estimation du risque d'avalanche (BERA) des différents
            massifs français. Vous pouvez consulter l'historique des bulletins et vous abonner à la publication
            quotidienne des nouveaux.
        </p>

        <div style="max-width: 400px">
            {{ form(form) }}
        </div>

        <script type="application/javascript">
          if (window.localStorage.getItem('mountain')) {
            document.querySelector('#lookup_mountain').value = window.localStorage.getItem('mountain');
          }

          document.querySelector('#lookup_mountain').addEventListener('change', event => {
            const mountain = event.target.value;
            window.localStorage.setItem('mountain', mountain);
          });
        </script>

        <div>
            Vous pouvez <a href="{{ path('app_subscribe') }}">vous abonner</a> à la publication d'un rapport.
        </div>
        <div>
            Pour éditer votre abonnement, <a href="{{ path('app_sendeditlink') }}">cliquez ici</a>.
        </div>
    </div>

    <hr>

    <div>
        Derniers BERAs disponibles ({{ beras|length }}/{{ totalBerasCount }}):
        <ul class="list-group">
            {% for bera in beras %}
                <li class="list-group-item">
                    <a href="{{ bera.link }}" target="_blank">{{ bera }}</a>
                </li>
            {% else %}
                Pas de BERA.
            {% endfor %}
        </ul>
    </div>

    <hr>

    <div>
        L'historique complet est disponible grâce au projet <a href="https://github.com/qloridant/meteofrance_bra_hist">https://github.com/qloridant/meteofrance_bra_hist</a>
        qui récupère les données à jour. Les nouvelles données sont récupérées directement ici pour faciliter le
        traitement.
    </div>

    <footer>
        <div class="text-center">
            © Florent Destremau {{ date()|date('Y') }}
        </div>
    </footer>
{% endblock %}
